:root{
    --colorFondo: rgba(40, 40, 40);
    --colorBarraLateral:  rgba(50, 50, 50);
    --colorFiltrosSeleccionProductos:  rgba(60, 60, 60);
    --colorFondoVentana:  rgba(70, 70, 70);
    --colorVentana:  rgba(80, 80, 80);
    --colorBotones:  rgba(100, 100, 100);
    --colorBotones-hover:  rgba(70, 70, 70);
    --colorBotones-active:  rgba(50, 50, 50);
    --colorBotones-positivo:  rgb(21, 105, 0);
    --colorBotones-negativo:  rgb(134, 38, 38);
    --colorLetra:  rgb(207, 207, 207);
}


body{
    margin:0px;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    /*overflow-y: hidden; /* Oculta la barra de desplazamiento horizontal */
    background-color: var(--colorFondo);
    color: var(--colorLetra);
}




/*Barra lateral*/
#barraLateral{
    display:flex;
    flex-wrap: nowrap;
    width: 240px;
    height: 100vh;

    flex-direction: row;
    position:fixed;
    z-index: 400;
    
}

#barraLateral__nombres, #barraLateral__iconos{
    background-color: var(--colorBarraLateral);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
}
#barraLateral__iconos{
    z-index: 402;
}
#barraLateral__nombres{
    transform: translate(-200px);
    z-index: 401;
}
#barraLateral__iconos:hover + #barraLateral__nombres{
    transform: translate(-20px);
}
#barraLateral__nombres:hover{
    transform: translate(-20px);
}





.barraLateral__botones,.barraLateral__iconos{
    text-align: center;
    color:var(--colorLetra);
    font-size: 25px;
    height: 25px;
    padding: 10px;
    margin: 10px 20px 10px  20px;
    border-radius: 10px;
    background-color: var(--colorBotones);
}
.barraLateral__botones{
    font-size: 20px;
}
#barraLateral_AA__icono,#barraLateral_AA__nombre{
    order: 20;
    margin-top: calc(100vh - 380px )
}
    

/*Modificacion de productos*/
#contenedorConfiguracionProductos,.contenedorConfiguracionProductos__indice{
    display: flex;
    height: 10vh;
    width: 80vw;
    margin: 0vw 10vw 0vw 10vw;
    background-color: var(--colorVentana);
    border: solid black 0.2vw;
    transition: transform 0.2s;
    z-index: 100;
    box-sizing: border-box;
}
.contenedorConfiguracionProductos__indice{
    position: absolute;
    transform:translateY(-5vw);
    z-index: 80;
}



.contenedorConfiguracionProductos__indice-active{
    transform:translateY(0vw) !important;
}

#contenedorConfiguracionProductos__contenido,
#contenedorConfiguracionProductos__contenido1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 70vh;
    width: 80vw;
    border-radius: 10px;
    background-color: var(--colorFondoVentana);
    position: absolute;
    z-index: 60;
    margin: 0vw 10vw 0vw 10vw;
    transition: transform 0.3s;
    transform: translateY(-100vh);
    overflow-y: scroll;
    justify-content: center;
}

.contenedorConfiguracionProductos__contenido-active{
    transform: translateY(10vh) !important;
}


.tipo, .tipo__categoria{
    z-index: 100;
    width: 100%;
    background-color: var(--colorFiltrosSeleccionProductos);
    font-size: 5.5vh;
    padding: 2vh;
    text-align: center;
    border: solid black 0.1vw;
}


#contenedorConfiguracionProductos__contenido__agregar{
    background-color: var(--colorBotones);
    width: 40vw;
    margin: 2vw;
    height: 5vh;
    font-size: 4vh;
    text-align: center;
    color: var(--colorLetra)
}
#contenedorConfiguracionProductos__contenido__agregar:hover{
    background-color: var(--colorBotones-hover);
}
#contenedorConfiguracionProductos__contenido__agregar:active{
    background-color: var(--colorBotones-active);
}

.tipo__categoria__producto{
    display: grid;
    width: 60vw;
    height: 5vh;
    grid-template-columns: 28vw 10vw 5vw 9vw 8vw;
    text-align: start;
    font-size: 3vh;
    border: 1px black solid;
    margin: 0.25vw 0 0.25vw 0;
    background-color: var(--colorVentana);
    padding: 5px;
    border-radius: 5px;
}

.contenedorConfiguracionProductos__contenido__modificar{
    display:flex;
    flex-wrap: nowrap;
}

.contenedorConfiguracionProductos__contenido__modificarBoton{
    height: 3vh;
    width: 3vh;
    margin: 0.5vh;
    text-align: center;
    padding: 0.5vh;
    border: solid 0.1vw black;
    border-radius: 1vh;
    font-size: 2.7vh;
    background-color: var(--colorBotones);
}

.contenedorConfiguracionProductos__contenido__modificarBoton:hover{
    background-color: var(--colorBotones-hover);
}

.contenedorConfiguracionProductos__contenido__modificarBoton:active{
    background-color: var(--colorBotones-active);
}
.contenedorConfiguracionProductos__contenido__modificarBoton__eliminar{
    background-color: var(--colorBotones-negativo);
}

.contenedorConfiguracionProductos__contenido__modificarBoton__seleccionadoActive{
    background-color: var(--colorBotones-positivo);
}























/*Visualizacion ventanas emergentes */

/*Ventana caso 0, el caso de error o confirmacion*/
#ventanaEmergenteFondo{
    transform: translateX(100vw);
    position: absolute;
    background-color: black;
    transition: filter 0.3s;
    filter: opacity(0);
    width: 100vw;
    height: 100vw;
    z-index: 200;
}

.ventanaEmergenteFondo-active{
    transform: translateX(0) !important;
    filter: opacity(0.7) !important;
}

#ventanaEmergente{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    position: absolute;
    z-index: 300;
    font-size: 1vw;
}

.ventanaEmergente-active{
    transform: translateX(0) !important;
}

#ventanaEmergente__contenido{
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    background-color: var(--colorFondoVentana);
    border-radius: 2vw;
}

#ventanaEmergente__contenido__mensaje{
grid-column: 1/3;
display: flex;
margin: 2vw;
font-size: 2vw;
}

#ventanaEmergente__contenido__aceptar__boton, #ventanaEmergente__contenido__rechazar__boton{
    font-size: 1.5vw;
    padding: 1vw;
    margin: 2vw;
    background-color: var(--colorBotones);
    color: var(--colorLetra)
}


/*Ventana caso 1, el caso de modificacion o creacion de productos*/

#ventanaEmergenteModificarProducto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    position: absolute;
    z-index: 300;
    font-size: 1vw;
}

.ventanaEmergenteModificarProducto-active{
    transform: translateX(0) !important;
}

#ventanaEmergenteModificarProducto__contenido{
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    background-color: var(--colorFondoVentana);
    color: var(--colorLetra);
    padding: 1vw;
    border: solid black 0.1vw ;
    border-radius: 0.5vw;
}

#ventanaEmergenteModificarProducto__contenido__fotoDescripcion{
    grid-row: 1/3;
}

#ventanaEmergenteModificarProducto__contenido__fotoDescripcion__foto{
    margin: 1vw;
    width: 10vw;
    height: 10vw;
    border: solid 0.1vw black ;
}
#ventanaEmergenteModificarProducto__contenido__fotoDescripcion__descripcion{
    margin: 1vw;
    padding: 0.5vw;
    width: 10vw;
    height: 15vw;
    background-color: var(--colorVentana);
    border: solid black 0.1vw ;
    border-radius: 0.5vw;
    resize: none;
}

#ventanaEmergenteModificarProducto__contenido__caracteristicas{
    display: flex;
    flex-direction: column;
}

.ventanaEmergenteModificarProducto__contenido__caracteristicas__varios{
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.25vw;
    width: 15vw;
    background-color: var(--colorVentana);
    border: solid black 0.1vw ;
    border-radius: 0.5vw;
    color: var(--colorLetra);
}

#ventanaEmergenteModificarProducto__contenido__AceptarRechazar{
    display: flex;
    grid-column: 2/3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ventanaEmergenteModificarProducto__contenido__AceptarRechazar__varios{
    font-size: 1vw;
    padding: 1vw;
    height: min-content;
    width: min-content;
    background-color: var(--colorBotones);
    color:var(--colorLetra)

}

































/*SECCION DE PRODUCTOS*/

#seleccionProductos {
    display: flex;
    flex-wrap: wrap;
    width: 1290px;
    height: 90vh;
    margin: calc((100vw - 1290px)/2);
    margin-bottom: 100vw;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(100vh);
    border: solid black 0.1vw;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    background-color: var(--colorVentana);
}
.seleccionProductos__indice{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: min-content;
    max-height: 90vh;
}

.seleccionProducto{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;

}

.seleccionObjeto,.seleccionSumarProducto,.seleccionRestarProducto,.seleccionCantidad,.seleccionStock,.seleccionProductos__indiceTitulo{
    font-size: 30px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--colorBotones);
    color: var(--colorLetra);
}
.seleccionProductos__indiceTitulo{
    background-color: var(--colorVentana);
    height: 50px;
}




.seleccionSumarProducto{
    transition: background-color 0.3s;
    min-height: 50px;
    height: 50px;
    min-width: 250px;
    width: 250px;
}



.seleccionRestarProducto,.seleccionCantidad,.seleccionStock{
    transition: background-color 0.3s;
    min-height: 50px;
    height: 50px;
    min-width: 50px;
    width: 50px;
}

.seleccionCantidad,.seleccionStock{
    box-sizing: border-box;
    text-align: center;
    padding-top: 7px;
    border: 2px solid black;
}
.seleccionCantidad-active{
    background-color: var(--colorBotones-positivo);
}
.seleccionCantidad-active2{
    background-color: var(--colorBotones-negativo);
}

.seleccionSumarProducto:hover,.seleccionRestarProducto:hover{
    border: 3px solid;
    background-color: var(--colorBotones-hover);
}
.seleccionSumarProducto:active,.seleccionRestarProducto:active{
    background-color: var(--colorBotones-active);
}

#seleccionPastasRellenas,#seleccionPastasSecas{
    grid-row: 2/5;
}

#margenIzquierdo,#margenDerecho{
    grid-row: 1/5;
}

#inputExtra{
    width: 430px;
    font-size: 30px;
    color:rgb(107, 203, 107)
}

#seleccionExtra{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
}










/*SECCION DE COBRO*/

#seccionCobro{
    display: grid;
    grid-template-columns: repeat(3,450px);
    grid-template-rows: 100px 400px 200px ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
}


.seccionCobro__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 420px;
    border: solid 5px black;
    
}

#seccionCobro__resumen,#seccionCobro__metodopago,#seccionCobro__modificacion{
    height: 380px;
    width: 420px;
    border: solid 5px black;
}

#seccionCobro__pago,#seccionCobro__total,#seccionCobro__confirmar{
    height: 180px;
    width: 420px;
}

#seccionCobro__total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#seccionCobro__pago{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text{
    font-size: 25px;
}


.seleccionCobro__item1{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    border: solid 3px black;
}

#seccionCobro__confirmar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.placeholder{
    width: 180px;
    padding: 0px 10px 0px 10px;
}

#seccionCobro__pago__efectivo,#seccionCobro__pago__segundopago{
    display: flex;
    width: 200px;
    padding: 0px 10px 0px 10px;
}
#seccionCobro__pago__div{
    display: flex;
}
#seccionCobro__pago__div__div,#seccionCobro__pago__div__input{
    box-sizing: border-box;
    border: 2px solid black;
    height: 30px;
    width: 100px;
}
#seccionCobro__pago__div__div{
    border-right: 0px;
}
#seccionCobro__pago__div__input{
    border-left: 0px;
    direction: rtl;
}


